apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${ca_data}
    server: ${endpoint}
  name: gke-cluster
contexts:
- context:
    cluster: gke-cluster
    user: gke-user
  name: gke-context
current-context: gke-context
kind: Config
preferences: {}
users:
- name: gke-user
  user:
    token: ${token}
