apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kbot-secrets
  namespace: flux-system
spec:
  interval: 10m0s
  path: ./clusters/${target_namespace}/secrets
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  decryption:
    provider: sops
